.profileWrapper {
  background-color: #EDEFF0;
  display: flex;
  justify-content: flex-start;
}

.displayProfileContainer {
  display: flex;
  width: 65vw;
  flex-direction: row;
  padding: 2vh;
  margin-left: 15%;
} 

.userImage {
  justify-content: flex-end;
  margin-top: 4vh;
  flex-grow: 1;
}

.display {
  margin: 5px;
  padding: 1vmin;
  font-family: 'PT Sans Narrow';
}

.information {
  background-color: white;
  display: flex;
  flex-direction: column;
  border: 1px solid #D7D9DC;
  flex-grow: 1;
  margin-right: 5vh;
  margin-left: 2vh;
}

#open {
  background-color: #B0CA87;
}

#closed {
 background-color: #D54F5A
}

.labels {
  border-top: 1px solid #F2F4F6;
  border-bottom: 1px solid #F2F4F6;
  text-decoration: underline;
  font-weight: bold;
}

.labelsDiv {
  margin-top: 8px;
}



 

