
.container {
  display: flex;
  background-color: #EDEFF0;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.previewContainer {
  background-color: white;
  border-radius: 1px;
  width: 65vw;
  display: flex;
  flex-direction: column;
}
.pageScroll {
  justify-content: center;
  align-items: center;
}



